.iconcolor1 {
  color: rgb(181, 10, 233);

}

.iconcolor2 {
  color: rgb(181, 10, 233);
}

.iconcolor3 {
  color: rgb(114, 114, 114);
}

.bgcolor2 {
  background-color: rgb(242, 198, 255);
}

/* imágenes */
.imagenes {
  width: 200px;
  height: auto;
  padding: 20px;
}

/* errores en edición y agregado de paciente */
.form-horizontal input.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.form-horizontal input.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.error {
  color: red !important;
}


/* navbar
.navbar-nav>li {
  padding-left: 30px;
  padding-right: 30px;
} */

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
