<div class="container-fluid">
  <h1>Ayuda</h1>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"> Primeros Pasos</div>
      </div>
      <br>
      <h6>A. Agregar Paciente</h6>
      <ol>
        <li>
          Clic en Nuevo paciente <img src="./assets/ayuda/nuevo_p.jpg" alt="">
        </li>
        <li>
          Ingrese Apellido, Nombre y Documento
        </li>
        <li>
          Clic en 'Aceptar'
        </li>
      </ol>
      <br>
      <h6>B. Completar datos clínicos del paciente ingresado</h6>
      <ol>
        <li>
          Clic en la solapa correspondiente <br> <img src="./assets/ayuda/solapas1.jpg" alt="">
        </li>
        <li>
          Clic en botón 'Guardar'
        </li>
      </ol>
      <hr><br>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Si el Paciente está en la base de datos</div>
      </div>
      <br>
      <h6>Buscar pacientes para leer sus datos clínicos y agregar información</h6>
      <ol>
        <li>
          en la página inicial tipee las primeras letras del apellido <br> <img src="./assets/ayuda/buscar1.jpg" alt="">
        </li>
        <li>
          presione la tecla ENTRAR
        </li>
      </ol>
      <hr><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Agregar imágenes de estudios clínicos</div>
      </div>
      <br>

      <p>
        Puede agregar imágenes en formatos jpg, jpeg, gif, png, etc. <br>
        También puede agregar cualquier tipo de archivo (pe. un video, un documento excel, etc).</p>
      <p>
        Estos archivos se abrirán automáticamente con el visor predeterminado del sistema.

      </p>
      <ol>
        <li>Ingrese al paciente al que le quiere adjuntar un estudio digitalizado <br> <img
            src="./assets/ayuda/buscar1.jpg" alt="">
        </li>
        <li>
          Clic en la solapa 'imágenes' <br><img src="./assets/ayuda/imagen1.jpg" alt="">
        </li>
        <li>
          seleccione la imagen de su equipo. (puede seleccionar varios archivos manteniendo la tecla CMD presionada)
        </li>
        <li>
          Presionar 'Aceptar'
        </li>
      </ol>
      <hr><br>
    </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Acciones con imágenes (botón secundario del mouse)</div>
        </div>
        <br>
        <br>
        <img src="./assets/ayuda/boton_sec_1.jpg" alt="">
        <img src="./assets/ayuda/boton_sec_2.jpg" alt="">
        <br>
        <ol>
          <li>
            <strong>Cambiar Nombre:</strong> puede renombrar a un archivo determinado (por ejemplo agregar la fecha del
            estudio.)
          </li>
          <li>
            <strong>Abrir en Carpeta:</strong> muestra al archivo en la carpeta real del sistema
          </li>
          <li><strong>Borrar:</strong> elimina del sistema al archivo seleccionado
          </li>
        </ol>
        <hr><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Edición de texto</div>
        </div>
        <br>

        <br>
        <img src="./assets/ayuda/formato.jpg" alt="">
        <br>
        <ol>
          <li>
            Puede agregar formato al texto
            <ul>
              <li>Motivo de Consulta</li>
              <li>Evolución</li>
              <li>Antecedentes</li>
            </ul>
          </li>
          <li>
            <strong>Fechar: </strong> agrega la fecha actual en la posición del cursor.
          </li>

        </ol>
        <hr><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Optimizar Base de datos</div>
        </div>
        <br>
        <br>
        Clic en <strong> Sistema > Optimizar db</strong>
        <p>
          La optimización se hace necesaria cuando la base de datos haya crecido mucho. El borrado de registros y el
          agregado de información fragmenta el contenido con lo cual se ralentizan las consultas.
        </p>
        <p>La optimización mejora la performance de la app.</p>
        <hr><br>
      </div>
    </div>

  </div>

</div>