<div class="container-fluid">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-4">
			<input class="form-control" placeholder="buscar" ng-model="buscar">
		</div>
		<div class="col-md-3"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<table class="table table-sm table-striped" ng-init="listaPacientes()">
				<thead>
					<th>Paciente</th>
					<th>Acción</th>
				</thead>
				<tbody>
					<!-- Lista -->
					<tr dir-paginate="paciente in pacientes|filter:buscar|itemsPerPage:8">
						<td>
							<a href="" ng-click="getPaciente(paciente.id)">{{paciente.apellido}}, {{paciente.nombre}}</a>
							<br><small class="text-muted"> {{paciente.documento}}</small>
						<td class="text-center">
							<button class="btn btn-sm" ng-click="borrar(paciente.id, paciente.apellido, paciente.nombre)"><i
									class="fas fa-trash-alt iconcolor3"></i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-3"></div>
	</div>
	<!-- Paginación -->
	<div class="row justify-content-md-center">
		<div class="col-md-3"></div>
		<div class="col-md-auto">
			<dir-pagination-controls>
			</dir-pagination-controls>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
<!-- Modal Cadastro e Edição -->
<!-- <div class="modal fade" id="modalPaciente" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Paciente</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<label>Nombre</label>
						<input class="form-control" type="text" ng-model="paciente.nombre">
					</div>
					<div class="col-md-6">
						<label>E-mail</label>
						<input class="form-control" type="text" ng-model="paciente.apellido">
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="paciente = {}" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="salvar()">Salvar</button>
			</div>
		</div>
	</div>
</div> -->